Repository firelegacy0/testAPI, changes with the labels that .github/labeler.yml gives for each.
All labels: enjin-proksi, go, enjin-core, python, enjin-pelanggan, javascript, ci/cd, dependencies, dev ex

.github/labeler.yml:

enjin-proksi:
- changed-files:
  - any-glob-to-any-file:
    - enjin-proksi/**


go:
- changed-files:
  - any-glob-to-any-file:
    - enjin-proksi/**

enjin-core:
- changed-files:
  - any-glob-to-any-file:
    - enjin-core/**

python:
- changed-files:
  - any-glob-to-any-file:
    - enjin-core/**

enjin-pelanggan:
- changed-files:
  - any-glob-to-any-file:
    - enjin-pelanggan/**

javascript:
- changed-files:
  - any-glob-to-any-file:
    - enjin-pelanggan/**
    - enjin-proksi/**

ci/cd:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    # Node.js project files (pnpm)
    - '**/package.json'
    - '**/pnpm-lock.yaml'

    # Python project files (poetry)
    - '**/pyproject.toml'
    - '**/poetry.lock'

    # General config files
    - '**/*.yaml'
    - '**/*.yml'
    - '**/Dockerfile'

# Convenience scripts typically
dev ex:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.sh'

Test moving around
  enjin-pelanggan/.env.development
  enjin-pelanggan/components/index.js
  enjin-pelanggan/components/pnpm-lock.yaml
Labels: enjin-pelanggan, javascript, dependencies

Test trigger
  enjin-pelanggan/.env.development
Labels: enjin-pelanggan, javascript

Rework directory
  enjin-core/api/index.py
  enjin-core/index.js
  enjin-core/pyproject.toml
  enjin-pelanggan/package-lock.json
  enjin-pelanggan/package.json
  enjin-proksi/package.json
  enjin-proksi/pnpm-lock.yaml
  enjin-proksi/src/index.js
Labels: enjin-proksi, go, enjin-core, python, enjin-pelanggan, javascript, dependencies

test pyproject
  enjin-core/pyproject.toml
Labels: enjin-core, python, dependencies

Test shell 1
  enjin-core/dev/test.sh
Labels: enjin-core, python, dev ex

Test cicd trigger
  .github/workflows/update-pr-labels.yml
Labels: ci/cd, dependencies

Test env workflow trigger
  .github/pr-commenter.yml
  .github/workflows/auto-pr-commenter.yml
Labels: ci/cd, dependencies

Trigger comment
  enjin-pelanggan/.env.development
Labels: enjin-pelanggan, javascript

Fix commenter workflow
  .github/pr-commenter.yml
Labels: ci/cd, dependencies

Trigger comment test
  enjin-pelanggan/.env.development
Labels: enjin-pelanggan, javascript
