Repository firelegacy0/testAPI, changes with the labels that .github/labeler.yml gives for each.
All labels: enjin-proksi, go, enjin-core, python, enjin-pelanggan, javascript

Added test changes
  enjin-proksi/index.js
Labels: enjin-proksi, go

update labeler
  .github/workflows/pr-labeler.yml
Labels: none

Test 2
  enjin-proksi/index.js
Labels: enjin-proksi, go

Test Pelanggan 1
  enjin-pelanggan/index.js
Labels: enjin-pelanggan, javascript

Fix labeler
  .github/workflows/pr-labeler.yml
Labels: none

test 2
  enjin-pelanggan/index.js
Labels: enjin-pelanggan, javascript

Test 1
  enjin-proksi/index.js
Labels: enjin-proksi, go

.github/labeler.yml:

enjin-proksi:
  - enjin-proksi/**/*

go:
  - enjin-proksi/**/*

enjin-core:
  - enjin-core/**/*

python:
  - enjin-core/**/*

enjin-pelanggan:
  - enjin-pelanggan/**/*

javascript:
  - enjin-pelanggan/**/*
